body{
    background: url("https://github.com/Oyelowo/tribute_page_slessor/blob/master/img/45degreee_fabric.png?raw=true");
}
div.container{
    background: white;
    margin: auto;
    padding:10px 40px 10px 40px;
    max-width: 1000px;
    height: auto;
}
#title{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

#description{
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

#survey-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px 31px;
}
#personal{
    grid-area: 1/1/3/3;
}
#name-profile{
    display: grid;
    max-width: 1000px;
    height: auto;
    grid-template-columns: 80PX 7fr;
    grid-auto-rows: 50px;
    text-align: end;
    font-size: 18px;
    font-weight: bolder;
    font-variant:small-caps;
}

h2{
    text-align: start;
    grid-area: 3/1/4/3;
    margin-bottom: -10px;
    display: block;
}

#feedback1{
    grid-area: 5/1/6/2;
}
#feedback2{
    grid-area: 5/2/6/3;
}
#feedback3{
    grid-area: 7/1/8/2;
}
#feedback4{
    grid-area: 7/2/8/3;
}
#feedback5{
    grid-area: 9/1/10/2;
}
#feedback6{
    grid-area: 9/2/10/3;
}
textarea{
    margin: -57px 0px -10px 0px;
    grid-area: 13/1/14/3;
}
#submit{
    grid-area: 14/1/15/2;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: -0.3em;
}

#submit:hover{
    background: #333333;
    color: #fff;
}

a{
    text-decoration: none;
}

/* mobile version */
@media(max-width: 768px){
    #survey-form{
        display: flex;
        flex-direction: column;
    }

    #title{
        font-size: 1.5em;
    }

    #name-profile{
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
    }

    #personal{
        margin-bottom: 2.5em;
    }

    /* push the inputs up a bit */
    #name-profile input, select{
        position: relative;
        top: -2em;
    }

    h2{
        display: inline;
    }

    textarea{
        margin-top: 2em;
    }

    .feedback{
        padding: 1em 0em;
    }

    #submit{
        margin-top: 0.6em;
        padding: 0.1em;
        font-size: 1em;
    }

    footer{
        background: #eaeaea;
        margin-top: 2em;
    }

    main{
        margin: 0 -1.8em;
    }
}